extends layout

block content
  h1= title
  p 테스트 화면1 입니다. < #{title} >
  p 노드js 테스트입니다.
  button test...
  p   
  p   
  img(src="/images/배경2.jpg")
  img(src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500")
