extends layout

block content
    h1 이더리움 전송
    p 당신의 지갑 주소는 #{account.address}
    p 현재 보유하고 계신 이더리움은 #{account.balance} 입니다

    form( action="/eth/transferEth" method='POST')
        p 
            | 받을 사람 주소
            input(type='text' name='address' value='' placeholder="0x1234" )
            | 보내실 금액
            input(type='number' name='amount'  placeholder="0" step=0.0001)
        p
            | GasPrice (Gwei)
            input(type='number' name='gasPrice' value=10)
        input(type='submit' value="ETH 전송")